Repository Dzoukr/MindfulYoga: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

azure-pipelines-client.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DotNetCoreInstaller@0
    displayName: Installing .net core sdk
    inputs:
      version: 3.1.100
      packageType: sdk
  - script: dotnet tool restore
    displayName: Restore tools
  - script: dotnet fake build -t publishClient
    displayName: Build
  ...

azure-pipelines-functionapp.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DotNetCoreInstaller@0
    displayName: Installing .net core sdk
    inputs:
      version: 3.1.100
      packageType: sdk
  - script: dotnet tool restore
    displayName: Restore tools
  - script: dotnet fake build -t publishFunctionApp
    displayName: Build
  ...

Rewrite finished
  build.fsx
  package.json
  paket.dependencies
  paket.lock
  src/MindfulYoga.Client/Domain.fs
  src/MindfulYoga.Client/Lessons/View.fs
  src/MindfulYoga.Client/MindfulYoga.Client.fsproj
  src/MindfulYoga.Client/Retreat/View.fs
  src/MindfulYoga.Client/Server.fs
  src/MindfulYoga.Client/SharedViews.fs
  src/MindfulYoga.Client/State.fs
  src/MindfulYoga.Client/View.fs
  src/MindfulYoga.Client/Workshops/View.fs
  src/MindfulYoga.Client/paket.references
  src/MindfulYoga.Client/public/img/retreat.jpg
  src/MindfulYoga.Client/public/img/retreat_banner.jpg
  src/MindfulYoga.Client/styles/app.scss
  src/MindfulYoga.Client/styles/retreat.scss
  src/MindfulYoga.FunctionApp/ContactMe/HttpHandlers.fs
  src/MindfulYoga.FunctionApp/MindfulYoga.FunctionApp.fsproj
  src/MindfulYoga.FunctionApp/Newsletters/HttpHandlers.fs
  src/MindfulYoga.FunctionApp/TrademarkChecker.fs
  src/MindfulYoga.FunctionApp/Web.fs
  src/MindfulYoga.Libraries/Emails/Emails.fs
  src/MindfulYoga.Libraries/Emails/MailjetProvider.fs
  src/MindfulYoga.Libraries/MindfulYoga.Libraries.fsproj
  src/MindfulYoga.Shared/Communication.fs
  src/MindfulYoga.Shared/ContactMe/Communication.fs
  src/MindfulYoga.Shared/ContactMe/Domain.fs
  src/MindfulYoga.Shared/ContactMe/Validation.fs
  src/MindfulYoga.Shared/MindfulYoga.Shared.fsproj
  src/MindfulYoga.Shared/Validation.fs
  src/MindfulYoga.Shared/paket.references
  webpack.config.js
  yarn.lock
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Fixing build
  .gitignore
  azure-pipelines-client.yml
  azure-pipelines-functionapp.yml
  build.fsx
  src/MindfulYoga.Client/Retreat/View.fs
Due: azure-pipelines-client.yml

Hiding form for now
  src/MindfulYoga.Client/Retreat/View.fs
Due: azure-pipelines-client.yml

And getting back
  src/MindfulYoga.Client/Retreat/View.fs
Due: azure-pipelines-client.yml

Removed workshops
  src/MindfulYoga.Client/Workshops/View.fs
Due: azure-pipelines-client.yml

Fixing text
  src/MindfulYoga.Client/MindfulYoga/View.fs
Due: azure-pipelines-client.yml

New version
  src/MindfulYoga.Client/AboutMe/View.fs
  src/MindfulYoga.Client/CompanyLessons/View.fs
  src/MindfulYoga.Client/Contact/View.fs
  src/MindfulYoga.Client/IndividualLessons/View.fs
  src/MindfulYoga.Client/Lessons/View.fs
  src/MindfulYoga.Client/MindfulYoga.Client.fsproj
  src/MindfulYoga.Client/MindfulYoga/View.fs
  src/MindfulYoga.Client/MindfulnessRmt/View.fs
  src/MindfulYoga.Client/Retreat/View.fs
  src/MindfulYoga.Client/Router.fs
  src/MindfulYoga.Client/SriLanka2020/View.fs
  src/MindfulYoga.Client/View.fs
  src/MindfulYoga.Client/public/img/individuallessons_bg.jpg
  src/MindfulYoga.Client/public/img/mindfulnessclub.png
  src/MindfulYoga.Client/public/img/mindfulnessrmt_bg.jpg
  src/MindfulYoga.Client/public/index.html
  src/MindfulYoga.Client/styles/app.scss
  src/MindfulYoga.Client/styles/companylessons.scss
  src/MindfulYoga.Client/styles/contact.scss
  src/MindfulYoga.Client/styles/individuallessons.scss
  src/MindfulYoga.Client/styles/lessons.scss
  src/MindfulYoga.Client/styles/mindfulnessrmt.scss
  src/MindfulYoga.Client/styles/mindfulyoga.scss
  src/MindfulYoga.Client/styles/srilanka2020.scss
Due: azure-pipelines-client.yml

Online lessons
  src/MindfulYoga.Client/Lessons/View.fs
  src/MindfulYoga.Client/View.fs
  src/MindfulYoga.Client/styles/lessons.scss
  src/MindfulYoga.FunctionApp/ContactMe/HttpHandlers.fs
  src/MindfulYoga.FunctionApp/Newsletters/HttpHandlers.fs
  src/MindfulYoga.FunctionApp/Web.fs
Due: azure-pipelines-client.yml, azure-pipelines-functionapp.yml

Fixing name
  src/MindfulYoga.Client/Lessons/View.fs
Due: azure-pipelines-client.yml

Current updates
  src/MindfulYoga.Client/Lessons/View.fs
  src/MindfulYoga.Client/MindfulYoga/View.fs
  src/MindfulYoga.Client/Retreat/View.fs
  src/MindfulYoga.Client/View.fs
Due: azure-pipelines-client.yml

Changing intro text
  src/MindfulYoga.Client/MindfulYoga/View.fs
Due: azure-pipelines-client.yml

Lesson update
  src/MindfulYoga.Client/IndividualLessons/View.fs
  src/MindfulYoga.Client/Lessons/View.fs
Due: azure-pipelines-client.yml

First entry price
  src/MindfulYoga.Client/Lessons/View.fs
Due: azure-pipelines-client.yml

Changes in workshops
  .paket/Paket.Restore.targets
  src/MindfulYoga.Client/EmailMe.fs
  src/MindfulYoga.Client/MindfulYoga.Client.fsproj
  src/MindfulYoga.Client/View.fs
  src/MindfulYoga.Client/Workshops/View.fs
  src/MindfulYoga.Client/styles/workshops.scss
Due: azure-pipelines-client.yml

Lessons changed
  src/MindfulYoga.Client/Lessons/View.fs
Due: azure-pipelines-client.yml

Using GH actions
  .github/workflows/CI.yml
  .gitignore
  .paket/Paket.Restore.targets
  build.fsx
  webpack.config.js
Due: none

Update CI.yml
  .github/workflows/CI.yml
Due: none

Client only CI pipeline
  .github/workflows/Client.yml
Due: none

Deploying to gh-pages from @ cc6678f5a52c140a5f1f0be42760075d238e5a5f 🚀
  app.b11cdb706b95de529b17.js.map
Due: none

Create CNAME
  CNAME
Due: none

Update CNAME
  CNAME
Due: none

Fixing CI
  .github/workflows/Client.yml
Due: none

Deploying to gh-pages from @ 0148e6e5a57163ebfc0807ae883be96b35de1281 🚀
  app.b11cdb706b95de529b17.js.map
Due: none

Setup config file on publish
  .github/workflows/Client.yml
  azure-pipelines-client.yml
Due: none

Deploying to gh-pages from @ fd7e297febf54f0ff87839c224ee5c3aadc16de3 🚀
  app.b11cdb706b95de529b17.js.map
  configuration.js
Due: none

Fix Github pages redirect
  src/MindfulYoga.Client/public/404.html
  src/MindfulYoga.Client/public/index.html
Due: azure-pipelines-client.yml

Fixing paths
  .github/workflows/Client.yml
Due: none

Deploying to gh-pages from @ 6c55985861c435a34ce11ccde9999cdf5a92dbfa 🚀
  1.style.8a818c041b2e6329265a.css
  1.style.8a818c041b2e6329265a.css.map
  1.style.b11cdb706b95de529b17.css.map
  404.html
  app.8a818c041b2e6329265a.js
  app.8a818c041b2e6329265a.js.map
  app.b11cdb706b95de529b17.js.map
  index.html
  style.8a818c041b2e6329265a.css
  style.8a818c041b2e6329265a.css.map
  style.b11cdb706b95de529b17.css.map
  vendors~app.8a818c041b2e6329265a.js
  vendors~app.8a818c041b2e6329265a.js.map
  vendors~app.b11cdb706b95de529b17.js.map
Due: none

Server publish on GH Actions
  .github/workflows/Server.yml
Due: none

Use publish profile
  .github/workflows/Server.yml
Due: none

Cleanup
  src/MindfulYoga.Client/public/404.html
Due: azure-pipelines-client.yml

Deploying to gh-pages from @ a92b93448c00f519c8096e097f7e920ef71f726c 🚀
  404.html
  app.8a818c041b2e6329265a.js.map
Due: none

Minor changes
  src/MindfulYoga.Client/AboutMe/View.fs
  src/MindfulYoga.Client/MindfulYoga.Client.fsproj
  src/MindfulYoga.Client/MindfulYoga/View.fs
  src/MindfulYoga.Client/MindfulnessRmt/View.fs
  src/MindfulYoga.Client/Retreat/View.fs
  src/MindfulYoga.Client/Router.fs
  src/MindfulYoga.Client/SharedViews.fs
  src/MindfulYoga.Client/View.fs
  src/MindfulYoga.Client/Workshops/View.fs
  src/MindfulYoga.Client/styles/menu.scss
Due: azure-pipelines-client.yml

Deploying to gh-pages from @ f17cbd18aa7a2c85eb5738b6483e77c786d08afc 🚀
  1.style.1b14bca3b71b701a52df.css
  1.style.1b14bca3b71b701a52df.css.map
  1.style.8a818c041b2e6329265a.css.map
  app.1b14bca3b71b701a52df.js
  app.1b14bca3b71b701a52df.js.map
  app.8a818c041b2e6329265a.js
  app.8a818c041b2e6329265a.js.map
  index.html
  style.1b14bca3b71b701a52df.css
  style.1b14bca3b71b701a52df.css.map
  style.8a818c041b2e6329265a.css
  style.8a818c041b2e6329265a.css.map
  vendors~app.1b14bca3b71b701a52df.js
  vendors~app.1b14bca3b71b701a52df.js.map
  vendors~app.8a818c041b2e6329265a.js
  vendors~app.8a818c041b2e6329265a.js.map
Due: none

Text + design changes
  src/MindfulYoga.Client/MindfulYoga/View.fs
  src/MindfulYoga.Client/styles/mindfulyoga.scss
Due: azure-pipelines-client.yml

Deploying to gh-pages from @ 10cd04dbf7879c5d2a5943bdb797447d03112df3 🚀
  1.style.1b14bca3b71b701a52df.css.map
  1.style.f0efad8e3603cb54e7ef.css
  1.style.f0efad8e3603cb54e7ef.css.map
  app.1b14bca3b71b701a52df.js
  app.1b14bca3b71b701a52df.js.map
  app.f0efad8e3603cb54e7ef.js
  app.f0efad8e3603cb54e7ef.js.map
  index.html
  style.1b14bca3b71b701a52df.css
  style.1b14bca3b71b701a52df.css.map
  style.f0efad8e3603cb54e7ef.css
  style.f0efad8e3603cb54e7ef.css.map
  vendors~app.1b14bca3b71b701a52df.js.map
  vendors~app.f0efad8e3603cb54e7ef.js
  vendors~app.f0efad8e3603cb54e7ef.js.map
Due: none

Simplify
  src/MindfulYoga.Client/AboutMe/View.fs
  src/MindfulYoga.Client/IndividualLessons/View.fs
  src/MindfulYoga.Client/Lessons/View.fs
  src/MindfulYoga.Client/MindfulYoga.Client.fsproj
  src/MindfulYoga.Client/MindfulYoga/View.fs
  src/MindfulYoga.Client/MindfulnessRmt/View.fs
  src/MindfulYoga.Client/Router.fs
  src/MindfulYoga.Client/View.fs
  src/MindfulYoga.Client/Workshops/View.fs
  src/MindfulYoga.Client/styles/app.scss
  src/MindfulYoga.Client/styles/mindfulnessrmt.scss
  src/MindfulYoga.Client/styles/mindfulyoga.scss
  src/MindfulYoga.Client/styles/retreat.scss
  src/MindfulYoga.Client/styles/workshops.scss
Due: azure-pipelines-client.yml

Path conditions:
  azure-pipelines-client.yml: any of: src/MindfulYoga.Client, src/MindfulYoga.Shared
  azure-pipelines-functionapp.yml: any of: src/MindfulYoga.FunctionApp, src/MindfulYoga.Shared, src/MindfulYoga.Libraries
